<div class="edit-user">
  <div class="container w-50">
    <div class="rounded m-4">
      <div class="row justify-content-center form-edit-user">
        <div class="col-12">
          <h2>Editar Usuário</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email,
              hint: "Digite aqui seu novo e-mail. Espero que a PF nao acesse o antigo...",
              required: true,
              autofocus: true %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Aguardando confirmação para: <%= resource.unconfirmed_email %></p>
              <% end %>

              <%= f.input :password,
                          hint: "Deixe em branco caso não queira alterar",
                          required: false,
                          input_html: { autocomplete: "nova senha" } %>
              <%= f.input :password_confirmation,
                          required: false,
                          input_html: { autocomplete: "nova senha" } %>
              <%= f.input :current_password,
                          hint: "Insira sua senha atual para confirmar a mudança",
                          required: true,
                          input_html: { autocomplete: "senha atual" } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Atualizar", class: "btn btn-success mb-5" %>
            </div>
          <% end %>

          <p>Infeliz? Não foi reeleito?</p>
          <%= link_to "Cancele sua conta AQUI", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete, class: "btn btn-dark" %>
          <p class="mt-3"><%= link_to "Voltar", :back, class: "text-decoration-none" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
