<div class="navbar navbar-expand-sm navbar-light navbar-lewagon shadow-sm p-2 mb-2 bg-white rounded">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex" do %>
      <%= %>
      <p class="container-logo m-2">OPINIAO LIVRE</P>
    <% end %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active font-card">
            <%= link_to "Home", root_path, class: "nav-link" %>

          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end font-card" aria-labelledby="navbarDropdown">
              <%# <h2 class="font-card">  %>
              <%= link_to "Editar perfil", "#", class: "dropdown-item" %>
              <%= link_to "Imparcialidades", offers_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Registre-se", new_user_registration_path, class:"text-decoration-none text-dark m-2"%>
            <%= link_to "Login", new_user_session_path, class: "btn btn-dark m-2 rounded-btn-nav" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
