

<div class="home-container">
  <div class="container my-5 text-center" style="font-size: 30px">
    <h1 class="margin-top" style="font-size: 110px">OPINIAO LIVRE</h1>
    <p>Encontre sua nova Fake News</p>
  </div>

  <div class="options" data-controller="home">
    <% @offers.last(5).reverse.each_with_index do |offer, i| %>
      <div class="option <%= "active" if i == 2  %>"style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7)), url('<%= image_path offer.image %>');" data-action="click->home#activate" data-home-target="option">
        <div class="shadow"></div>
          <div class="label">
            <div class="info">
              <%= link_to offer.title, offer_path(offer), class:"main text-decoration-none text-white" %>
              <div class="sub"><%= offer.media %></div>
            </div>
        </div>
      </div>
    <% end %>
  </div>

   <%= link_to "VER TODAS", offers_path, class:"btn btn-dark mt-5 rounded-btn-nav font-card" %>

</div>
