<div class="login font-card">
  <div class="container w-50 font-card">
    <div class="rounded m-4">
      <div class="row justify-content-center form-login">
        <div class="col-12">
          <h2>Log in</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
            <div class="form-inputs font-card">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Log in", class: 'btn btn-success mb-5 btn-rounded-index font-card' %>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
