<h1 class="text-center">OFFERS</h1>
<% if @user && @user.politician == false %>
  <div class="container text-center">
    <%= link_to 'NEW OFFER', new_offer_path, class: 'btn btn-secondary my-5' %>
  </div>

<% end %>

<div class = "container-md mt-3">
  <div class="row">
    <% @offers.each do |offer|  %>
      <div class="col-6 mb-3">
        <div class="card-product m-1">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2 class="mb-4"><%= offer.title.upcase %></h2>
            <p><strong>Descrição:</strong> <%= offer.description %></p>
            <p><strong>Nicho:</strong> <%= offer.niche %></p>
            <p><strong>Media:</strong> <%= offer.media %></p>
            <p><strong>Alcançe:</strong> <%= offer.reach %> people</p>
            <h6><strong>R$</strong> <%= offer.price %>,00 <span class="text-success"> ou até 10 x de <%= (offer.price.to_f / 10).to_s.gsub(".", ",")  %>0 sem juros </span></h6>

            <%= link_to 'See more, and buy!', offer_path(offer), class: 'btn btn-success my-3' %>
          </div>
        </div>
      </div>
    <% end  %>
  </div>
  <%= link_to 'HOME', root_path, class: 'btn btn-secondary my-5' %>
