<h1 class="text-center mt-3">IMPARCIALIDADES</h1>
<% if @user && @user.politician == false %>
  <div class="container text-center">
    <%= link_to 'NOVA IMPARCIALIDADE', new_offer_path, class: 'btn btn-secondary my-5' %>
  </div>

<% end %>

<div class = "container-md mt-3">
  <div class="row">
    <% @offers.reverse.each do |offer|  %>
      <div class="col-6 mb-3">
        <div class="card-product m-1">
            <%= image_tag(offer.image) %>
          <div class="card-product-infos">
            <h2 class="mb-4"><%= offer.title.upcase %></h2>
            <p><strong>Descrição:</strong> <%= offer.description %></p>
            <p><strong>Nicho:</strong> <%= offer.niche %></p>
            <p><strong>Media:</strong> <%= offer.media %></p>
            <p><strong>Alcance:</strong> <%= offer.reach %> pessoas</p>
            <h6><%= number_to_currency(offer.price) %> <span class="text-success"> ou até 10 x de <%= number_to_currency(offer.price_installments)  %> sem juros </span></h6>

            <%= link_to 'Detalhes | Comprar', offer_path(offer), class: 'btn btn-success my-3' %>
          </div>
        </div>
      </div>
    <% end  %>
  </div>
  <%= link_to 'HOME', root_path, class: 'btn btn-secondary my-5' %>
</div>
