
<%# Seta que volta pra home usando icon %>
<div class="container-md">
  <h1 class="text-center mt-4" id="imparcialidades">IMPARCIALIDADES</h1>
  <%= link_to  '<i class="fa-solid fa-arrow-left"></i>'.html_safe, root_path, class:'arrow arrow-top'%>
</div>

<% if @user && @user.politician == false %>
  <div class="container text-center">
    <%= link_to 'NOVA IMPARCIALIDADE', new_offer_path, class: 'btn btn-dark my-5 btn-rounded-index' %>
  </div>
<% end %>

<div class = "container-md mt-4 font-card">
  <div class="row">
    <% @offers.reverse.each do |offer|  %>
      <div class="col-6 mb-3">
        <div class="card-product m-1">
            <%= image_tag(offer.image) %>
          <div class="card-product-infos font-card">
            <h2 class="mb-4"><%= offer.title.upcase %></h2>
            <p><strong>Descrição:</strong> <%= offer.description %></p>
            <p><strong>Nicho:</strong> <%= offer.niche %></p>
            <p><strong>Media:</strong> <%= offer.media %></p>
            <p><strong>Alcance:</strong> <%= offer.reach %> pessoas</p>
            <h6><%= number_to_currency(offer.price) %> <span class="text-success font-card"> ou até 10 x de <%= number_to_currency(offer.price_installments)  %> sem juros </span></h6>

            <%= link_to 'COMPRAR', offer_path(offer), class: 'btn btn-success my-3 btn-rounded-index font-card' %>
          </div>
        </div>
      </div>
    <% end  %>
  </div>

  <a class="arrow" href="#imparcialidades"><i class="fa-solid fa-arrow-up"></i></a>

</div>
