
<div class="container mt-3">
  <div class="card-product-show">
    <%= image_tag(@offer.image, class:'card-product-img')  %>
    <div class="card-product-infos">
      <h2 class="mb-3"> <%= @offer.title %></h2>
      <p class="mb-4 card-product-p"> <%= @offer.description %></p>
      <p class="card-product-p"><b>Price:</b> R$ <%= @offer.price %>,00</p>
      <p class="card-product-p"><b>Niche:</b> <%= @offer.niche %></p>
      <p class="card-product-p"><b>Media:</b> <%= @offer.media %></p>
      <p class="card-product-p"><b>Reach:</b> <%= @offer.reach %> people</p>
      <% if current_user == @user %>
        <p class="mt-3 card-product-p">
          <%= link_to "Delete",
            offer_path(@offer),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %> |
          <%= link_to "Edit",
            edit_offer_path(@offer)
          %>
        </p>
      <% end %>

    </div>
  </div>
</div>


<% if current_user && current_user.politician == true %>
  <div class="container mt-5">
    <div class="buying_card">
      <h2>Comprar "imparcialidade"</h2>
      <%= simple_form_for [@offer, @deal] do |f| %>
        <%= f.input :directions %>
        <%= f.submit "Comprar", class: "btn btn-light" %>
      <% end %>
    </div>
  </div>
<% elsif !current_user %>
  <div class="container mt-5">
    <div class="buying_card">
      <h2>Comprar "imparcialidade"</h2>
        <p class="card-product-p"><%= link_to "Cadastre-se", new_user_registration_path, class: "text-white" %>
         ou
        <%= link_to "faça o login", new_user_session_path, class: "text-white" %>
         para fechar um negócio.
        </p>
    </div>
  </div>
<% end %>






<div class="container mt-5">
  <div class="card-product-show">
    <div class="card-product-infos">
      <h3 class="mb-3"> <%= "#{@user.first_name} #{@user.last_name}" %></h3>
      <p><b>Categoria: </b><%= @user.category %></p>
      <p><b>Negócios Fechados:</b> <%= @offer.deals.count %></p>
    </div>
  </div>
</div>


<div class="container">
  <%= link_to "Go Back", offers_path, class: "btn btn-dark mt-3" %>
</div>
