<!DOCTYPE html>
<html>
  <head>
    <title>OpiniaoLivre</title>
    <link rel="icon" href="https://img.myloview.com.br/posters/newspaper-fake-news-icon-outline-newspaper-fake-news-vector-icon-for-web-design-isolated-on-white-background-700-234862228.jpg" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/footer" %>
  </body>
</html>
